<h1>Edit an Appearance</h1>
<%= form_with :model @appearance do |f|%>
<%= f.collection_select :guest_id, Guest.all, :id, :name%>
<%= f.collection_select :episode_id, Episode.all, :id, :number%>
<%= f.number_field :rating %>
<%= f.submit %>
<% end %>
